{
    "presets": [
        "@babel/env",
        "@babel/typescript"
    ],
    "plugins": [
        ["@babel/plugin-transform-typescript",{allowNamespaces:true}],
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
